@import "./variables.scss";
@import "./fontawesome-free-6.4.2-web/scss/fontawesome.scss";
@import "./fontawesome-free-6.4.2-web/scss/solid.scss";
@import "./fontawesome-free-6.4.2-web//scss/brands.scss";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600;700&family=Play:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

$animation-duration: 2s;
$animation-delay: 5s;

@mixin animated-background {
  @keyframes animated-bg {
    0% {
      background: linear-gradient(90deg, #2a4d5e 47%, rgba(13, 29, 38, 1) 89%);
    }
    20%, 40%, 60%, 80% {
      background: linear-gradient(90deg, rgba(48, 88, 103, 1) 47%, rgba(13, 29, 38, 1) 89%);
    }
    100% {
      background: linear-gradient(90deg, rgba(42, 77, 94, 1) 47%, rgba(13, 29, 38, 1) 89%);
    }
  }

  animation: animated-bg #{$animation-duration} ease-in-out infinite;
  animation-delay: $animation-delay;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-family: 'Play', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    
    background: rgb(42,77,94);
    background: linear-gradient(90deg, rgba(42,77,94,1) 47%, rgba(16,37,48,1) 89%); 

}
p, h5, h4, h3, h2, h1 {
    cursor: default;
}
header {
    display: flex;
    width: 100%;
    height: auto;
    padding: .5em 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1543602c;
    border-bottom: 1px solid $opaque;
    transition: height 5s;

    .expanded-box {
        width: 100%;
        height: auto;
        padding: 1em 0;
        background-color: $red;
        animation: expand 5s 1 normal;
    }

    .user-info {
        display: flex;
        width: 100%;
        height: auto;
        padding: .5em 0;
        justify-content: space-between;
    }
}
.profile-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    // border: 1px solid $red;

    .icon {
        padding: 1em;
    }
    .name, .desc {
        font-weight: 400;
        text-align: center;
        width: 100%;
        color: $light-gray;
        height: auto;
        padding: 0;
        margin: 0;
        cursor: default;

        // border: 1px solid $red;
    }
    .profile {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    .links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5em 0;
        user-select: none;

        a {
            margin: .2em;
            &:hover {
                opacity: .8;
            }
        }
    }
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .container {
        display: flex;
        width: 50%;
        margin: 2.5% 0;
        padding: 1%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid $opaque;
        border-radius: .2em;

        .more {
            padding: .5em;
            width: 100%;
            text-align: center;
            .text {
                color: $light-gray;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                    opacity: .8;
                }
            }
        }
        .inside {
            border-top: 1px solid $opaque;

            h3 {
                width: 100%;
                text-align: center;
            }
        }
        .inline-link {
            color: $light-gray;
            text-decoration: none;
            font-weight: bold;
            &:hover {
                text-decoration: underline;
                opacity: .8;
            }
        }
        .project-links {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            a {
                color: $light-gray;
                padding: .5em;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    opacity: .8;
                }
            }
        }

        
    }
    .skills {
        display: flex;
        width: 50%;
        margin: 2.5% 0;
        padding: 1%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid $opaque;
        border-radius: .2em;
        .skill {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            border-bottom: 1px solid $opaque;
            padding-bottom: .2em;

            .name {
                margin: .2em;
                user-select: none;
            }
            .lvls {
                display: flex;
                align-items: center;
                justify-content: center;
                width: auto;

                .lvl {
                    background-color: $light-gray;
                    box-sizing: border-box;
                    width: 56px;
                    height: 8px;
                    // padding: .2em 1.5em;
                    margin: 0 .2em;
                    border-radius: 5px ;

                    .percent-100 {
                        display: block;
                        border-radius: 5px;
                        background-color: #469453ec;
                        width: 56px;
                        height: 8px;
                    }

                    .percent-75 {
                        display: block;
                        border-radius: 5px;
                        background-color: #469453ec;
                        width: calc(56px - 56px / 4);
                        height: 8px;
                    }

                    .percent-50 {
                        display: block;
                        border-radius: 5px;
                        background-color: #469453ec;
                        width: calc(56px / 2);
                        height: 8px;
                    }

                    .percent-25 {
                        display: block;
                        border-radius: 5px;
                        background-color: #469453ec;
                        width: calc(56px / 4);
                        height: 8px;
                    }
                }
            }
        }
    }
    
    h2, h3, h4 {
        color: $light-gray;
        padding: .2em;
        font-weight: 400;
    }
    p {
        color: $light-gray;
        margin: 3%;
        text-align: justify;
    }
    li {
        list-style: inside;
        margin: 3%;
        text-align: justify;
        color: $light-gray;
    }

}
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    height: auto;
    padding: 1em 0;
    justify-content: center;
    color: $light-gray;
    background-color: $dark-blue;
}

.project {

    width: 95%;
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 0 .4em;
    margin: .4em 0;
    cursor: pointer;
    transition: all 1s;
    border-radius: .2em;
    background-color: #ffffff11;

    &:hover {
        background-color: $opaque;
    }

    .project-name {
        width: 100%;
        cursor: pointer;
        text-align: left;
        padding: 0;
        margin: .2em 0;
    }
    img {
        cursor: pointer;
    }
}

.hidden {
    display: none;
}

@keyframes expand {
    from {
        max-height: 0;
    }
    to {
        max-height: 500px;
    }
}
