$main-color: #3582a7;

$blue: #2e86de;
$dark-blue: #154360;
$light-blue: #a5d8f3;

$gray: #888888;
$dark-gray: #333333;
$light-gray: #e1e1e1;
$opaque: #ffffff38;

$red: #ff6b6b;
$orange: #ffb84d;
$aqua: #7efff5;